body{
    justify-content: center;
    border-radius: 4px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    
    border: 0px;
    border-right: 3px solid white;
    overflow-x: hidden;
    margin-right: 5px;
}
#everything{
    scroll-snap-type: y mandatory; /* Activa el scroll snapping vertical */
    overflow-y: scroll; /* Habilita el scroll vertical */
    height: 100vh; /* Asegura que el body ocupe toda la altura del viewport */
    width: 100vw; /* Asegura que el body ocupe toda la anchura del viewport */
    background-color: black;
}

#image{
    scroll-snap-align: start; /* Ajusta el scroll al inicio de esta sección */
    height: 100vh; /* Asegura que el body ocupe toda la altura del viewport */
    align-content: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    justify-self: center;
}
a img{
    width: 350px;
    height: 350px;
}
a img:hover{
    transform: scale(1.02);
    transition: transform 0.5s ease;
}
a img:not(:hover) {
    transform: scale(1);
    transition: transform 0.5s ease;
}
#bottoms{
    scroll-snap-align: start; /* Ajusta el scroll al inicio de esta sección */
    height: 100vh; /* Ocupa el 100% del viewport */
    display: flex;
    text-align: center;
    flex: 1;    

}
#medio, #bottom{
    color: white;
    align-self: stretch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    border: 1px solid #afafaf;
    border-top: 0px;
}
#medio{
    flex: 20;
    display: flex;
    flex-direction: column;
}
#bottom{
    flex: 19;
    display: flex;
    flex-direction: column;
}
#medio p{
    padding: 40px;
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
    padding-right: 60px;
    font-size: 18px;
    padding-top: 20px;
    margin: 5px;
}

#bottom p{
    padding: 40px;
    padding-bottom: 0px;
    padding-top: 20px;
    margin: 5px;
    font-size: 18px;
}

#bottom img{
    flex: 1;
    align-self: self-end;
    margin-top: auto;
    margin-bottom: 0px;
}