* {
    box-sizing: border-box;
}

body{
    justify-content: center;
    border-radius: 4px;
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    
    border: 0px;
    border-right: 1px solid white;
    overflow-x: hidden;
    margin-right: 5px;
}
#everything{
    scroll-snap-type: y mandatory; /* Activa el scroll snapping vertical */
    overflow-y: scroll; /* Habilita el scroll vertical */
    height: 100vh; /* Asegura que el body ocupe toda la altura del viewport */
    width: 100vw; /* Asegura que el body ocupe toda la anchura del viewport */
    background-color: black;
    border-left: 18px solid #000000;
}

#image{
    scroll-snap-align: start; /* Ajusta el scroll al inicio de esta sección */
    height: 100vh; /* Asegura que el body ocupe toda la altura del viewport */
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-self: center;
    min-height: 480px;
    max-height: 480px;

}
a #imagen{
    width: 350px;
    height: 350px;
}
a #imagen:hover{
    transform: scale(1.02);
    transition: transform 0.5s ease;
}
a #imagen:not(:hover) {
    transform: scale(1);
    transition: transform 0.5s ease;
}
#middle{
    scroll-snap-align: start; /* Ajusta el scroll al inicio de esta sección */
    height: 100vh; /* Ocupa el 100% del viewport */
    display: flex;
    color: white;
    text-align: center; 
    padding-top: 30px;
    min-height: 480px;
    max-height: 480px;
}
#middle p{
    align-items: center;
    text-align: center;
    font-size: 18px;
}
#up{
    display: flex;
    flex: 10;
    flex-direction: column;
    font-size: 16px;
    text-align: center;
    align-self: stretch;
    
}

p#one{
    flex: 0;
    text-align: end;
}
p#two{
    flex: 0;
    text-align: end;
    margin-top: 30px;
}
p#three{
    flex: 1;
}


#down{
    display: flex;
    flex: 4.5;
    flex-wrap: wrap;
    align-self: stretch;
    flex-direction: column;
    border-right: 10px solid #000000;
}
#down p{
    flex: 1;
}

#socials{
    scroll-snap-align: start; /* Ajusta el scroll al inicio de esta sección */
    height: 100vh; /* Ocupa el 100% del viewport */
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}
#socials a{
    flex: 1;
}
#socials #arriba{
    flex: 1;
    align-content: center;

}
#socials #medio{
    flex: 1;
    align-content: center;
    display: flex;
    justify-content: center;
}
#uno{
    flex: 1;
    align-content: center;

}
#dos{
    flex: 1;
    align-content: center;
}
#socials #abajo{
    flex: 1;
    align-content: center;
}